.headerContainer {
  height: 5rem;
}

.headerContent {
  max-width: 1280px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    align-items: center;
    gap: 14px;

    a {
      color: var(--white);
      text-decoration: none;
      transition: color 0.8s;

      &:hover {
        color: var(--red);
      }
    }

    button {
      border: 0;
      background: transparent;
      transition: transform 0.8s;
      margin-left: 16px;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
